@charset "UTF-8";
body {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

@media (min-width: 480px) {
  body {
    font-size: 35px;
  }
}

@media (min-width: 1024px) {
  body {
    min-width: 600px;
    font-size: medium;
  }
}

::selection {
  background: none;
}

header {
  display: flex;
  font-weight: bold;
  background-color: aquamarine;
  margin-bottom: 50px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

@media (min-width: 480px) {
  header {
    font-size: 100px;
    padding: 60px;
  }
}

@media (min-width: 1024px) {
  header {
    font-size: 50px;
    padding: 30px;
  }
}

header h1 {
  margin: auto;
}

#bingo-settings {
  display: flex;
  flex-flow: column;
  border-radius: 20px;
  border: #000 solid 2px;
}

@media (min-width: 480px) {
  #bingo-settings {
    width: 95%;
  }
}

@media (min-width: 1024px) {
  #bingo-settings {
    width: 60%;
  }
}

#bingo-settings .setting {
  display: flex;
  padding: 30px;
  margin: 0 auto;
}

@media (min-width: 480px) {
  #bingo-settings .setting {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  #bingo-settings .setting {
    width: 80%;
  }
}

@media (min-width: 480px) {
  #bingo-settings .setting {
    flex-flow: column;
  }
}

@media (min-width: 1024px) {
  #bingo-settings .setting {
    flex-flow: row;
  }
}

#bingo-settings .setting #bingo-range {
  margin-left: auto;
}

#bingo-settings .setting-text {
  margin-right: auto;
}

@media (min-width: 480px) {
  #bingo-settings .setting-text {
    font-size: 40px;
  }
}

@media (min-width: 1024px) {
  #bingo-settings .setting-text {
    font-size: medium;
  }
}

#bingo-settings .setting ul {
  list-style: square;
}

@media (min-width: 480px) {
  #bingo-settings .setting li {
    margin: 8px 0;
  }
}

@media (min-width: 1024px) {
  #bingo-settings .setting li {
    margin: 4px 0;
  }
}

#bingo-settings--accordion-menu .bingo-settings--accordion-menu--text {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  background-color: aquamarine;
  border: solid 2px;
  border-radius: 10px;
  margin: 20px 20px 0px 20px;
}

@media (min-width: 480px) {
  #bingo-settings--accordion-menu .bingo-settings--accordion-menu--text {
    font-size: 60px;
    padding: 50px;
  }
}

@media (min-width: 1024px) {
  #bingo-settings--accordion-menu .bingo-settings--accordion-menu--text {
    font-size: 30px;
    padding: 20px;
  }
}

#bingo-settings--accordion-menu .bingo-settings--accordion-menu--text span {
  margin-right: 30px;
  position: relative;
  transition: 500ms;
}

#bingo-settings--accordion-menu .bingo-settings--accordion-menu--text span::before {
  top: -6px;
  right: -6px;
  content: "";
  position: absolute;
  transform-origin: center center;
  transform: rotate(135deg);
}

@media (min-width: 480px) {
  #bingo-settings--accordion-menu .bingo-settings--accordion-menu--text span::before {
    width: 16px;
    height: 16px;
    border-top: solid 4px #000;
    border-right: solid 4px #000;
  }
}

@media (min-width: 1024px) {
  #bingo-settings--accordion-menu .bingo-settings--accordion-menu--text span::before {
    width: 8px;
    height: 8px;
    border-top: solid 2px #000;
    border-right: solid 2px #000;
  }
}

#bingo-settings--accordion-menu .bingo-settings--accordion-menu--text .open {
  transform-origin: center center;
  transform: rotate(-180deg);
  transition: 500ms;
}

#bingo-settings--accordion-menu .bingo-settings--accordion-menu--text p {
  margin-left: auto;
  margin-right: 10px;
  text-align: center;
  font-size: small;
  font-weight: normal;
}

@media (min-width: 480px) {
  #bingo-settings--accordion-menu .bingo-settings--accordion-menu--text p {
    visibility: hidden;
  }
}

@media (min-width: 1024px) {
  #bingo-settings--accordion-menu .bingo-settings--accordion-menu--text p {
    visibility: visible;
  }
}

#bingo-settings--accordion-menu .bingo-settings--accordion-menu--text:hover {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

#bingo-settings--accordion-menu .hide-menu {
  display: none;
}

#bingo-settings button {
  font-weight: bold;
  text-decoration: none;
  background: aquamarine;
  border-radius: 10px;
}

@media (min-width: 480px) {
  #bingo-settings button {
    font-size: xx-large;
    padding: 20px 40px;
    margin: 60px auto 30px auto;
  }
}

@media (min-width: 1024px) {
  #bingo-settings button {
    font-size: medium;
    padding: 10px 20px;
    margin: 40px auto 20px auto;
  }
}

#bingo-settings button:hover {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  /*影*/
}

.input-range[type="range"] {
  appearance: none;
  background-color: #bbbbbb;
}

@media (min-width: 480px) {
  .input-range[type="range"] {
    margin: 50px auto 20px auto;
    height: 18px;
    width: 100%;
    border-radius: 6px;
  }
}

@media (min-width: 1024px) {
  .input-range[type="range"] {
    margin: 0;
    margin-left: auto;
    height: 9px;
    width: 50%;
    border-radius: 6px;
  }
}

.input-range[type="range"]:focus, .input-range[type="range"]:active {
  outline: none;
}

.input-range[type="range"]::-webkit-slider-thumb {
  appearance: none;
  cursor: pointer;
  position: relative;
  display: block;
  background-color: aquamarine;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

@media (min-width: 480px) {
  .input-range[type="range"]::-webkit-slider-thumb {
    border: 5px solid black;
    width: 44px;
    height: 44px;
  }
}

@media (min-width: 1024px) {
  .input-range[type="range"]::-webkit-slider-thumb {
    border: 2px solid black;
    width: 22px;
    height: 22px;
  }
}

.input-range[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.6);
  transition: 0.2s;
}

#main-inner {
  display: flex;
  justify-content: center;
  margin: auto;
}

@media (min-width: 480px) {
  #main-inner {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  #main-inner {
    min-width: 700px;
    width: 90%;
  }
}

table {
  table-layout: fixed;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.32);
  /*影*/
}

@media (min-width: 480px) {
  table {
    border: 4px solid #fff;
    width: 95%;
  }
}

@media (min-width: 1024px) {
  table {
    border: 2px solid #fff;
    width: auto;
  }
}

th,
td {
  cursor: pointer;
  border-collapse: collapse;
  font-weight: bold;
  background-color: aquamarine;
  text-align: center;
  vertical-align: middle;
}

@media (min-width: 480px) {
  th,
  td {
    font-size: 35px;
    height: 150px;
    border: 4px dashed #fff;
  }
}

@media (min-width: 1024px) {
  th,
  td {
    font-size: 30px;
    width: 100px;
    height: 100px;
    border: 2px dashed #fff;
  }
}

footer {
  display: flex;
  flex-flow: column;
  background-color: #dddddd;
}

@media (min-width: 480px) {
  footer {
    padding: 40px;
    margin-top: 50px;
  }
}

@media (min-width: 1024px) {
  footer {
    padding: 20px;
    margin-top: 50px;
  }
}

footer p {
  margin: 5px;
  margin-left: auto;
}

footer .sns-links {
  margin-left: auto;
  display: flex;
}

footer .sns-links .github a {
  margin: 10px;
  text-decoration: none;
  color: #252a2e;
  font-size: 40px;
}

footer .sns-links .twitter a {
  margin: 10px;
  text-decoration: none;
  color: #55acee;
  font-size: 40px;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  transition: 0.6s;
  display: none;
}

.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  padding: 50px;
  background-color: #fff;
  z-index: 2;
}

.popup .close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.popup .close-btn i {
  font-size: 20px;
  color: #333;
}

.popup .black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */